body {
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 500px;
  height: 500px;
  background-color: rgb(119, 158, 104);
}

button {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin: 5px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

#difficulty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
